/* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  } */

  .scrolled{
      position: fixed;
      width: 100%;
      z-index: 1;
      top:0;
      left:0;
  }